{% extends "../base.html" %}

{% block title %}
    {{ site.name }}
{% end %}

{% block header %}
    {% include '../home/header.html' %}
{% end %}

{% block body %}
    <section>
        <div class="container">
            <div class="col-md-6">
                <a class="link-banner" id="{{ site.name + '_img_slider_1' }}" href="{{ read_link(site.name + '_img_slider_1') }}">
                    <div class="fondo-img" style="background:url('{{ read_image(site.name + '_img_slider_1') }}');" data-img-width="1600" data-img-height="890" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload visible-movil" >
                                <label for="img_slider_1">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_1" name="image" id="img_slider_1" >
                            </div>
                        {% end %}
                    </div>
                </a>
                {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_slider_1' }}" content="{{ read_link(site.name + '_img_slider_1') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
            </div>
            <div class="col-md-6">
                <a class="link-banner" id="{{ site.name + '_img_slider_2' }}" href="{{ read_link(site.name + '_img_slider_2') }}">
                    <div class="fondo-img" style="background:url('{{ read_image(site.name + '_img_slider_2') }}');" data-img-width="1600" data-img-height="890" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload visible-movil" >
                                <label for="img_slider_2">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_2" name="image" id="img_slider_2" >
                            </div>
                        {% end %}
                    </div>
                </a>
                {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_slider_2' }}" content="{{ read_link(site.name + '_img_slider_2') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
            </div>
            <div class="col-md-6">
                <a class="link-banner" id="{{ site.name + '_img_slider_3' }}" href="{{ read_link(site.name + '_img_slider_3') }}">
                    <div class="fondo-img" style="background:url('{{ read_image(site.name + '_img_slider_3') }}');" data-img-width="1600" data-img-height="890" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload visible-movil" >
                                <label for="img_slider_3">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_3" name="image" id="img_slider_3" >
                            </div>
                        {% end %}
                    </div>
                </a>
                {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_slider_3' }}" content="{{ read_link(site.name + '_img_slider_3') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
            </div>
            <div class="col-md-6">
                <a class="link-banner" id="{{ site.name + '_img_slider_4' }}" href="{{ read_link(site.name + '_img_slider_4') }}">
                    <div class="fondo-img" style="background:url('{{ read_image(site.name + '_img_slider_4') }}');" data-img-width="1600" data-img-height="890" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload visible-movil" >
                                <label for="img_slider_4">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_4" name="image" id="img_slider_4" >
                            </div>
                        {% end %}
                    </div>
                </a>
                {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_slider_4' }}" content="{{ read_link(site.name + '_img_slider_4') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
            </div>
            <div class="col-md-6">
                <a class="link-banner" id="{{ site.name + '_img_slider_5' }}" href="{{ read_link(site.name + '_img_slider_5') }}">
                    <div class="fondo-img" style="background:url('{{ read_image(site.name + '_img_slider_5') }}');" data-img-width="1600" data-img-height="890" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload visible-movil" >
                                <label for="img_slider_5">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_5" name="image" id="img_slider_5" >
                            </div>
                        {% end %}
                    </div>
                </a>
                {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_slider_5' }}" content="{{ read_link(site.name + '_img_slider_5') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
            </div>
            <div class="col-md-6">
                <a class="link-banner" id="{{ site.name + '_img_slider_6' }}" href="{{ read_link(site.name + '_img_slider_6') }}">
                    <div class="fondo-img" style="background:url('{{ read_image(site.name + '_img_slider_6') }}');" data-img-width="1600" data-img-height="890" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload visible-movil" >
                                <label for="img_slider_6">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_6" name="image" id="img_slider_6" >
                            </div>
                        {% end %}
                    </div>
                </a>
                {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_slider_6' }}" content="{{ read_link(site.name + '_img_slider_6') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
            </div>
            <div class="col-md-6">
                <a class="link-banner" id="{{ site.name + '_img_slider_7' }}" href="{{ read_link(site.name + '_img_slider_7') }}">
                    <div class="fondo-img" style="background:url('{{ read_image(site.name + '_img_slider_7') }}');" data-img-width="1600" data-img-height="890" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload visible-movil" >
                                <label for="img_slider_7">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_7" name="image" id="img_slider_7" >
                            </div>
                        {% end %}
                    </div>
                </a>
                {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_slider_7' }}" content="{{ read_link(site.name + '_img_slider_7') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
            </div>
            <div class="col-md-6">
                <a class="link-banner" id="{{ site.name + '_img_slider_8' }}" href="{{ read_link(site.name + '_img_slider_8') }}">
                    <div class="fondo-img" style="background:url('{{ read_image(site.name + '_img_slider_8') }}');" data-img-width="1600" data-img-height="890" data-diff="100">
                        {% if is_admin %}
                            <div class="image-upload visible-movil" >
                                <label for="img_slider_8">
                                    <img class="change-image" src="https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png" onmouseover="this.src='https://7static.loadingplay.com/static/images/f2e626ad62e2c957b3708a27e55f4b03_btn-edit-hover.png';" onmouseout="this.src='https://7static.loadingplay.com/static/images/ef03c01fe39c6b7d1404e311adfe47ff_btn-edit.png'">
                                </label>
                                <input type="file" class="editableimage" image-id="{{ site.name }}_img_slider_8" name="image" id="img_slider_8" >
                            </div>
                        {% end %}
                    </div>
                </a>
                {% if is_admin %}
                    <img class="change-image editablelink" link-id="{{ site.name + '_img_slider_8' }}" content="{{ read_link(site.name + '_img_slider_8') }}" src="{{ site_base }}/{{ nocache_static }}/img/link.png" onmouseover="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';" onmouseout="this.src='{{ site_base }}/{{ nocache_static }}/img/link.png';">
                {% end %}
            </div>
        </div>
    </section>
    {% include '../home/footer.html' %}
{% end %}
